@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.profile-details {
  text-align: center;
}
.css-uls1yk-MuiDivider-root {
  margin-left: unset !important;
}
